@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@300&family=Lato:wght@300&display=swap');

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
    background-image: url(https://www.topgear.com/sites/default/files/news-listicle/image/2019/12/dsc07306.jpg?w=1290&h=726);
}

.pill-nav a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 25px;
    border-radius: 5px;
}




/* headings and logos */

